<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="add()">
        发表
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>{{article.title}}</ion-card-subtitle> -->
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-textarea [(ngModel)]="article.content" rows="6" placeholder="此时此刻，生活的点点滴滴..."></ion-textarea>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let image of article.imagesList">
            <ion-img *ngIf="article.imagesList.length > 0" [src]="image"></ion-img>
          </ion-col>
          <ion-col>
            <ion-button color="warning" (click)="plus()">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label>所在位置</ion-label>
        <ion-icon name="pin"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>谁可以看</ion-label>
        <ion-icon name="contacts"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>