<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>IYOU</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>登录</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" placeholder="手机号码" [(ngModel)]="user.telephone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="密码" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button color="warning" (click)="login()" expand="block">登 录</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="warning" (click)="signup()" expand="block">没有账号？注册</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar color="warning">
  </ion-toolbar>
</ion-footer> -->