<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="finder">
      <ion-icon name="aperture"></ion-icon>
      <ion-label>绘本</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>童谣</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="session">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>对话</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="finder">
      <ion-icon name="apps"></ion-icon>
      <ion-label>发现</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="record">
      <ion-icon name="flash"></ion-icon>
      <ion-label>记录</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>